html {
   font-size: 10px;
}

#main-nav .logo {
   width: 100px;
 }

#main-nav .social {
   opacity: 0;
}

#articles .article-container {
   display: inline-block;
}

#main-footer .foot-container {
   display: inline-block;
}

.showcase-container {
   grid-template-columns: 1fr 1fr;
}

#about .page-container {
   display: inline-block;
}

#article .page-container {
   display: inline-block;
}

#article .page-container .card {
   margin: 1rem;
}

#main-footer .foot-container {
   display: block;
}

#contact-a .text-fields {
   grid-template-areas: "name" "email" "subject" "phone" "message";
}

#contact-b .contact-info {
   grid-template-columns: repeat(1, 1fr);
}